%customNav {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  a {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.8rem 1.2rem !important;

    &:focus,
    &:hover {
      color: rgba(white, 0.5) !important;
    }
  }
}

.transparentNav {
  @extend %customNav;

  background: transparent;

  a {
    color: lighten(black, 35%);
  }
}

.whiteNav {
  @extend %customNav;

  background-color: rgba(white, 0.9);

  a {
    color: black;
  }
}
