.customNav {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  a {
    font-weight: bold;
    color: black !important;
    text-transform: uppercase;
    padding: 0.8rem 1.2rem !important;

    &:focus,
    &:hover {
      color: rgba(white, 0.7) !important;
    }
  }
}
