@import "./colors";

$enable-gradients: false;
$spacer: 1rem;
$border-width: 1px;
$btn-border-radius: 0.25rem;
$enable-shadows: true;
$headings-font-weight: 700;
$input-padding-x: 0.8rem;
$input-padding-y: 1.5rem;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$headings-font-family: Raleway;
$font-family-base: "Open Sans", $font-family-sans-serif;

@import "~bootstrap/scss/bootstrap";

.btn {
  font-size: 14px;
  font-weight: bold;
  padding: 0.8rem 1.5rem !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

p {
  line-height: 1.5;
  margin: 30px 0;

  a {
    text-decoration: underline;
  }
}
